.expenseform.component {
  form {
    > * {
      display: block;
      margin-bottom: $space-sm;

      &.SingleDatePicker {

        .DateInput--with-caret.DateInput--open-down::after,
        .DateInput--with-caret.DateInput--open-down::before {
          top: 37px;
        }

        .SingleDatePicker__picker--open-down {
          top: 47px;
        }
      }
    }

    > input,
    > textarea {
      border: 0;
      padding: $space-xs;
      width: calc(100% - #{$space-lg});

      @include mq("tablet") {
        min-width: 38rem;
        width: auto;
      }

      &.expenseform-amount {
        text-align: right;
      }
    }
  } 
}
