.expenselistfilters.component {
    font-size: $font-size-sm;

  .expenselistfilters-title {
    margin-bottom: $space-xs;
    margin-top: $space-xs;
  }

  .expenselistfilters-controls {
    display: flex;
    flex-flow: column;
    font-size: $font-size-sm;

    > * {
      margin-bottom: $space-xs;

      *:last-child {
        margin-bottom: 0;
      }
    }

    > input,
    > select {
      border: 0;
      font-size: $font-size-sm;
      overflow: hidden;
      padding: $space-xs;

      > option {
        font-size: inherit;
      }
    }

    @include mq("tablet") {
      flex-flow: row nowrap;
      justify-content: space-between;

      > input,
      > select {
        margin-bottom: 0;
      }
    }
  }

  .DateRangePicker {
    @include mq("tablet") {
      margin-bottom: 0;
    }

    .DateInput {
      padding: 0;

      .DateInput_input {
        font-size: 1.4rem;
        padding: 1rem;
      }
    }

    .DateRangePickerInput_clearDates_svg {
      vertical-align: -.1rem;
    }
  }
}
