.expensessummary.component {
  > p {
    font-size: $font-size-sm;
    margin: $space-sm 0;

    @include mq("tablet") {
      margin-top: $space-md;
    }

    .expensessummary-count,
    .expensessummary-amount {
      font-size: $font-size-default;
      font-weight: bold;
    }
  }
}
