.expensessummary.component {
  > p {
    font-size: $font-size-sm;
    margin-bottom: $space-sm;
    margin-top: $space-xs;

    .expensessummary-count,
    .expensessummary-amount {
      font-size: $font-size-default;
      font-weight: bold;
    }
  }
}
