.header.component {
  align-items: baseline;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: $space-lg 0 $space-sm;

  @include mq("tablet") {
    flex-flow: row nowrap;
  }

  > * {
    flex: 0 0 auto;
    vertical-align: baseline;
  }

  .header-title {
    line-height: 1;
    margin: 0 $space-xl 0 0;
  }

  .header-nav {
    flex-grow: 1;
    order: 3;

    @include mq("tablet") {
      order: initial;
    }
  }

  .header-auth {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;

    @include mq("tablet") {
      align-self: flex-end;
      justify-content: flex-end;
      margin-top: 0;
      text-align: right;
      width: auto;
    }

    .header-auth-greeting {
      font-weight: 600;
      margin-right: $space-xs;
    }

    .header-auth-avatar {
      background-color: $gray2;
      border-radius: 50%;
      display: inline-block;
      height: 32px;
      margin-right: $space-sm;
      vertical-align: middle;
      width: 32px;
    }

    .header-auth-btn {
      justify-self: right;
      margin-left: auto;
      width: auto;
    }
  }
}
