.login.component {
  .login-title {
    margin-bottom: 0;
  }

  .login-byline {
    font-size: 1.2rem;
    margin-bottom: $padding-sm;
    margin-top: 0;
  }
  .login-preamble .highlight {
    color: $orange;
    font-size: 2rem;
    font-weight: 900;
  }

  .login-btn.third-party {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    margin: 0 2rem 0 0;
    overflow: visible;
    padding: 0;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 1rem 0 #c66;
    }

    &.google {
      background-image: url('/img/btn_google_signin_dark_normal_web.png');
      height: 41px;
      width: 186px;
    }

    &.facebook {
      background-image: url('/img/btn-facebook-login.png');
      height: 41px;
      width: 222px;
    }

    &.twitter {
      background-image: url('/img/btn-twitter-login.png');
      height: 41px;
      width: 176px;
    }

    &.github {
      background-image: url('/img/btn-github-login.png');
      height: 45px;
      width: 176px;
    }
  }

  .login-credits,
  .login-appinfo {
    font-size: 1.4rem;
  }
}
