.login.component {
  .login-preamble .highlight {
    color: $orange;
    font-size: 2rem;
    font-weight: 900;
  }

  .login-btn.third-party {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    padding: 0;

    &.google {
      background-image: url('/img/btn_google_signin_dark_normal_web.png');
      height: 45px;
      width: 190px;
    }

    &.facebook {
      background-image: url('/img/btn-facebook-login.png');
      height: 45px;
      width: 226px;
    }

    &.twitter {
      background-image: url('/img/btn-twitter-login.png');
      height: 45px;
      width: 197px;
    }
  }
}
