html {
  body {
    background-color: $black;
    background-image: url("/img/bg-guggenheim-3.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    color: $white;
    font-family: $font-family-default;
    font-size: $font-size-default;
    height: 100%;
    line-height: 1.25;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-headings;
    }

    h1 {
      font-size: $font-size-xxl;

      @include mq("tablet") {
        font-size: $font-size-xxl * 1.3;
      }
    }

    h2 {
      font-size: $font-size-xl;

      @include mq("tablet") {
        font-size: $font-size-xl * 1.2;
      }
    }

    .component > h2:first-child {
      margin-top: 0;
    }

    h3 {
      font-size: $font-size-lg;

      @include mq("tablet") {
        font-size: $font-size-lg * 1.1;
      }
    }

    h4,
    h5,
    h6 {
      font-size: $font-size-md;
    }

    a {
      color: $green;

      &:link,
      &:visited {
        color: $green;
      }

      &:not(.is-active):hover {
        color: lighten($green, 35%);
      }

      &:active {
        color: $green;
      }
    }

    header a.is-active {
      font-weight: bold;
      text-decoration: none;
    }

    .main-container {
      padding: $space-lg;
    }

    .button {
      background-color: darken($green, 30%);
      border: 2px solid darken($green, 10%);
      color: $white;
      cursor: pointer;
      font-weight: bold;
      padding: $space-xs;
      width: 100%;

      &:hover {
        background-color: darken($green, 20%);
        border-color: $green;
      }

      &:disabled {
        cursor: default !important;
        opacity: .5;
      }

      @include mq("tablet") {
        margin-right: $space-xs;
        width: auto;
      }

      &.exit {
        background-color: $gray2;
        border-color: $gray4;
  
        &:hover {
          background-color: $gray3;
          border-color: $white;
        }
      }
  
      &.caution {
        background-color: darken($orange, 30%);
        border-color: darken($orange, 10%);

        &:hover {
          background-color: darken($orange, 20%);
          border-color: $orange;
        }
      }

      &.danger {
        background-color: darken($red, 30%);
        border-color: darken($red, 10%);

        &:hover {
          background-color: darken($red, 20%);
          border-color: $red;
        }
      }
    }  // .button

    input,
    select,
    textarea {
      color: $black;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: $gray3;
  }

  #app {
    padding: 0 $space-lg $space-lg;

    @include mq("tablet-wide") {
      margin-left: auto;
      margin-right: auto;
      max-width: 980px;
    }
  }
}
