body {
  // react-font-awesome (don't use react-bootstrap's Glyphicon)
  .fa {
    color: $white;
    vertical-align: middle;
  }

  // react-bootstrap components
  .modal-backdrop.in {
    opacity: .65;
  }

  .modal-dialog {
    .modal-content {
      background-color: $white;
      color: $black;

      .modal-title {
        margin-top: 0;
      }

      .modal-footer {
        text-align: center;
    
        @include mq("tablet") {
          text-align: right;
        }

        button:nth-child(n + 1) {
          margin-left: 0;

          @include mq("tablet") {
            margin-left: initial;
          }
        }
      } // .modal-footer
    } // .modal-content
  } // .modal-dialog
} // body

.component .SingleDatePicker,
.component .DateRangePicker {
  .DateInput {
    font-size: $font-size-sm;
    line-height: 1;
    width: 11rem;

    .DateInput__input {
      cursor: pointer;
    }

    .DateInput__display-text {
      color: $gray3;

      &.DateInput__display-text--has-input {
        color: $black;
      }
    }
  }
} // .component .SingleDatePicker, .component .DateRangePicker

.component .SingleDatePicker {
  max-width: 12rem;

  .SingleDatePickerInput {
    border: 0;

  }
} // .component .SingleDatePicker

.component .DateRangePicker {
  border: 0;
  width: auto;

  .DateRangePickerInput {
    width: 100%;

    .DateRangePickerInput__clear-dates {
      float: right;
      margin-right: 0;
    }
  }
} // .component .DateRangePicker
