// Paddings (used for margins too)
$space-default: 2rem;
$space-xs: 1rem;
$space-sm: 1.5rem;
$space-md: $space-default;
$space-lg: 2.5rem;
$space-xl: 3rem;

// Typography
$font-family-default: Arial, Helvetica, sans-serif;
$font-family-headings: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: $font-size-default;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.2rem;

// Colors
$black: #000;
$white: #fff;
$gray1: #333;
$gray2: #666;
$gray3: #999;
$gray4: #ccc;
$red: #f00;
$green: #0f0;
$blue: #00f;
$orange: #ff8c00;
