// Paddings (used for margins too)
$space-default: 1.25rem;
$space-xxs: $space-default * .25;
$space-xs: $space-default * .5;
$space-sm: $space-default * .75;
$space-md: $space-default;
$space-lg: $space-default * 1.25;
$space-xl: $space-default * 1.5;

// Typography
$font-family-default: Arial, Helvetica, sans-serif;
$font-family-headings: Arial, Helvetica, sans-serif;
$font-size-default: 1rem;
$font-size-xxs: .625rem;
$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-md: $font-size-default;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;

// Colors
$black: #000;
$white: #fff;
$gray1: #333;
$gray2: #666;
$gray3: #999;
$gray4: #ccc;
$red: #f00;
$green: #0f0;
$blue: #00f;
$orange: #ff8c00;
$yellow: #ff0;
